@function getPropertyValue($property, $selector: null){
    @return property;
}

main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 5px;
}

.newGame{
    margin-left: 250px;

    > button {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

app-square {
    height: 200px;
}